* {
  margin:10px;
}

h1{
  text-align: center;
}

.middle {
  display: flex;
}

.middle p{
  display: inline-block;
}
img{
  display: block;
}
span {
  font-size: 700;
  display: inline-block;
}
